{% extends 'base.html' %}
{% load static %}

{% block head %}
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <link href="ConnexionCSS.css" rel="stylesheet">
    <link rel="stylesheet" href="Style.css">
    <link rel="stylesheet" href="Style_page_forum.css"/>

{% endblock %}


{% block content %}
    <div class="text-center">
        <div class="container">
            <main class="form-signin w-100 m-auto">
                <img class="mb-4" src="{% static 'Logo_EMAFamille.PNG' %}" alt="" width="72" height="72">
                <h1 class="titreProfile">Choisis Ta Famille</h1>
                <p>Bonne chance :</p>
                <br>
                <div class="container-fluid gedf-wrapper">
                    <div class="row">
                        <div class="col-md-6">
                            <div class="card">

                                <div class="card-body">
                                    <h1 class="titreProfile">REjoins une Famille</h1>
                                    <p>tkt elles sont sympa</p>
                                    <nav class="navbar navbar-light bg-white">
                                        <form class="form-inline" method="post" action="{% url 'search' %}">
                                            {% csrf_token %}
                                            <input type="hidden" value="search" name="postType">
                                            <div class="input-group">
                                                <input type="text" class="form-control"
                                                       aria-label="Recipient's username"
                                                       aria-describedby="button-addon2" name="query">
                                                <div class="input-group-append">
                                                    <button class="btn btn-outline-primary" type="submit"
                                                            id="button-addon2">
                                                        <i class="fa fa-search"></i>
                                                    </button>
                                                </div>
                                            </div>
                                        </form>
                                    </nav>

                                    {% for profile in ajout %}
                                        <div class="list-group w-auto">
                                            <a href="#" class="list-group-item list-group-item-action d-flex gap-3 py-3" aria-current="true">
                                                <img class="rounded-circle" width="50" src="{{ profile.photo.url }}" alt="">
                                                <p class="card-text h5">@{{ profile.user.username }}</p>
                                                <a href="/" class="btn btn-primary boutons">
                                                    Rejoindre
                                                </a>
                                            </a>
                                        </div>





                                    {% endfor %}
                                </div>

                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="card gedf-card">
                                <div class="card-body">
                                    <div class="py-6 text-center">


                                        <div class="row g-5">
                                            <div class="">
                                                <form class="needs-validation" novalidate>
                                                    <div class="row g-3">
                                                        <div class="col-12">
                                                            <h1 class="titreProfile">Nouvelle Famille</h1>
                                                            <p>Veuillez renseigner les champs suivants:</p>
                                                        </div>
                                                        <div class="col-12">
                                                            <label for="nomfamille" class="form-label">Nom</label>
                                                            <input type="text" class="form-control" id="nomfamille"
                                                                   placeholder="son petit nom" required>
                                                            <div class="invalid-feedback">
                                                                wesh c'est quoi ce nom eclaté au sol
                                                            </div>
                                                        </div>

                                                        <div class="col-12">
                                                            <label for="logofamille" class="form-label">Logo</label>
                                                            <input type="image" class="form-control" id="logofamille"
                                                                   placeholder=" " required>
                                                            <div class="invalid-feedback">
                                                                tema cette gueule
                                                            </div>
                                                        </div>

                                                        <div class="col-12">
                                                            <label for="descriptionfamille"
                                                                   class="form-label">Description</label>
                                                            <input type="text" class="form-control"
                                                                   id="descriptionfamille"
                                                                   placeholder="raconte ta vie" required>
                                                            <div class="invalid-feedback">
                                                                y'a pas d'effort là
                                                            </div>
                                                        </div>

                                                        <div class="col-12">
                                                            <label for="usernamefamille" class="form-label">Identifiant
                                                                du chef
                                                                de famille<span
                                                                        class="text-muted">(Optional)</span></label>
                                                            <div class="input-group has-validation">
                                                                <span class="input-group-text">@</span>
                                                                <input type="text" class="form-control"
                                                                       id="usernamefamille"
                                                                       placeholder="Username">
                                                                <div class="invalid-feedback">
                                                                    Your username is required.
                                                                </div>
                                                            </div>
                                                        </div>

                                                        <div class="col-12">
                                                            <label for="liendrive" class="form-label">Drive <span
                                                                    class="text-muted">(Optional)</span></label>
                                                            <input type="link" class="form-control" id="liendrive"
                                                                   placeholder="www.drive.com">
                                                            <div class="invalid-feedback">
                                                                il marche pas ton lien fraté
                                                            </div>
                                                        </div>

                                                        <a href="/famille">
                                                            <button class="w-100 btn btn-lg btn-primary boutons"
                                                                    type="submit">Valider
                                                            </button>
                                                        </a>
                                                    </div>
                                                </form>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </main>
        </div>


        <a href="/">
            <button class="w-100 btn btn-lg btn-primary boutons" type="submit" style="margin-top: 10px">Retour
            </button>
        </a>
        </main>
    </div>


{% endblock %}