{% extends 'base.html' %}
{% load static %}

{% block head %}
 <link href="ConnexionCSS.css" rel="stylesheet">
{% endblock %}


{% block content %}

<div class="container">
  <main class="form-signin w-100 m-auto">
    <img class="mb-4" src=Logo_EMAFamille.PNG alt="" width="72" height="72">
    <h1 class="titreProfile">Nouvelle Famille</h1>
    <p>Veuillez renseigner les champs suivants :</p>

    <div class="py-5 text-center">


      <div class="row g-5">
        <div class="">
          <form class="needs-validation" novalidate>
            <div class="row g-3">
              <div class="col-12">
                <label for="nomfamille" class="form-label">Nom</label>
                <input type="text" class="form-control" id="nomfamille" placeholder="son petit nom" required>
                <div class="invalid-feedback">
                  wesh c'est quoi ce nom eclaté au sol
                </div>
              </div>

              <div class="col-12">
                <label for="logofamille" class="form-label">Logo</label>
                <input type="image" class="form-control" id="logofamille" placeholder=" " required>
                <div class="invalid-feedback">
                  tema cette gueule
                </div>
              </div>

              <div class="col-12">
                <label for="descriptionfamille" class="form-label">Description</label>
                <input type="text" class="form-control" id="descriptionfamille" placeholder="raconte ta vie" required>
                <div class="invalid-feedback">
                  y'a pas d'effort là
                </div>
              </div>

              <div class="col-12">
                <label for="usernamefamille" class="form-label">Identifiant du chef de famille<span class="text-muted">(Optional)</span></label>
                <div class="input-group has-validation">
                  <span class="input-group-text">@</span>
                  <input type="text" class="form-control" id="usernamefamille" placeholder="Username" >
                  <div class="invalid-feedback">
                    Your username is required.
                  </div>
                </div>
              </div>

              <div class="col-12">
                <label for="liendrive" class="form-label">Drive <span class="text-muted">(Optional)</span></label>
                <input type="link" class="form-control" id="liendrive" placeholder="www.drive.com">
                <div class="invalid-feedback">
                  il marche pas ton lien fraté
                </div>
              </div>




            </div>
          </form>
        </div>
      </div>
    </div>

    <a href="PageFamille.html">
      <button class="w-100 btn btn-lg btn-primary boutons" type="submit">Valider</button>
    </a>

    <a href="PageProfil.html">
      <button class="w-100 btn btn-lg btn-primary boutons" type="submit" style="margin-top: 10px">Retour</button>
    </a>
  </main>
</div>


{% endblock %}