{% extends 'base.html' %}
{% load static %}

{% block content %}

<div style="text-align: center;">
  <img src="{% static 'Logo_EMAFamille.PNG' %}" width="256">
  <br>
  <h1 class="titreProfile"  >Présentation</h1>
  <p style="text-align: center;width:40%;margin:auto">EMA Famille est un site internet conçu par Laura BertiEaux, Charlotte Houzé, Emile Delmas,
    Arthur Rubio, Florian Laporte, Simon Chalmé, Ilyane Gomis et Ludovic Terrasson, afin de facilter et de favoriser
    le système de parainage au sein de l'école des Mines d'Alès. Il permet aux différentes familles
    de poster des annonces visibles par tous via le forum mais également de disposer d"une page sur
    laquelle elles peuvent se présenter et partager des photos.</p>
  <br>
  <img src="{% static 'Photo_Laura.jpg' %}" width="128" class="rounded-circle">
  <img src="{% static 'Photo_Ludo 2.jpg' %}" width="128" class="rounded-circle">
  <img src="{% static 'Photo_Arthur.JPG' %}" width="128" class="rounded-circle">
  <img src="{% static 'Photo_Charlotte.JPG' %}" width="128" class="rounded-circle">
  <img src="{%  static 'Photo_Emile.JPG' %}" width="128" class="rounded-circle">
  <img src="{% static 'Photo_Florian.JPG' %}" width="128" class="rounded-circle">
  <img src="{% static 'Photo_Ilyane.jpg' %}" width="128" class="rounded-circle">
  <img src="{% static 'Photo_Simon.jpg' %}" width="128" class="rounded-circle">
  <br>
  <br>
  <a href="/">
    <button class="w-20 btn btn-primary boutons" style="margin-bottom: 10px">Retour</button>
  </a>

</div>
{% endblock %}