{% extends 'base.html' %}
{% block head %}
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css"
          rel="stylesheet"
          id="bootstrap-css">
    <link href="ConnexionCSS.css" rel="stylesheet">
{% endblock %}
{% block content %}
    <main class="text-center m-auto" style="width:80%">
        <div class="col-md-12">
            <br>
            <div class="card">
                <div class="card-header">
                    <h1 class="titreProfile">Modification du Profil</h1>
                </div>
                <div class="card-body">
                    <p>{{ error }}</p>
                    <form method="post" enctype='multipart/form-data'>
                        {% csrf_token %}
                        <label for="username" class="form-label">Nouvel identifiant</label>
                        <div class="col d-grip gap-2 align-items-start">
                            <input type="text"
                                   class="form-control"
                                   id="username"
                                   value="{{ user.username  }}"
                                   name="username"
                                   required>
                            <div class="invalid-feedback">déja mis deso</div>
                        </div>
                        <div class="col-12">
                            <label for="lastName" class="form-label">Ton Nom</label>
                            <input type="text"
                                   class="form-control"
                                   id="lastName"
                                   value="{{ user.last_name  }}"
                                   name="nom">
                            <div class="invalid-feedback">pas valid</div>
                        </div>
                        <div class="col-12">
                            <label for="firstName" class="form-label">Ton Prénom</label>
                            <input type="text"
                                   class="form-control"
                                   id="firstname"
                                   value="{{ user.first_name  }}"
                                   name="prenom">
                            <div class="invalid-feedback">pas valid</div>
                        </div>
                        <div class="col-12">
                            <label for="promo" class="form-label">Ta promo</label>
                            <input type="text"
                                   class="form-control"
                                   id="promo"
                                   value="{{ profile.promo }}"
                                   name="promo"
                                   required>
                            <div class="invalid-feedback">pas valide</div>
                        </div>
                        <div class="col-12">
                            <label for="promo" class="form-label">Ta description</label>
                            <textarea class="form-control" id="promo" name="description">{% if profile.description %} {{ profile.description }}{% endif %}</textarea>
                            <div class="invalid-feedback">pas valide</div>
                        </div>
                        <div class="col-12">
                            <img src="{{ profile.photo.url }}"
                                 alt="image de profil"
                                 style="width: 100px;
                                        height: 100px;
                                        border-radius: 50%;
                                        margin-top: 20px;
                                        margin-bottom: 20px">
                            <p>Changer d'image de profil</p>
                            <div class="custom-file">
                                <label class="custom-file-label" for="customFile">
                                    Uploader
                                    l'image
                                </label>
                                <input type="file" class="custom-file-input" id="customFile" name="image">
                                <div class="py-4"></div>
                            </div>
                        </div>
                        <div class="invalid-feedback">pas valide</div>
                        <br>
                        <button class="w-10 btn btn-lg boutons"
                                type="submit"
                                style="margin-top: 5px;
                                       margin-bottom: 20px">Valider</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<br>
<br>
<a href="/profile/">
    <button class="w-100 btn btn-lg boutons"
            type="submit"
            style="margin-top: 5px;
                   margin-bottom: 20px">Retour</button>
</a>
</main>
{% endblock %}
