@font-face {
    font-family: AmaticSC-Bold;
    src: url(AmaticSC-Bold.ttf);
}

.photoDeProfile{
    width:20%;

}

.titreProfile{
    color:black;
    font-family: "AmaticSC-Bold";
}
a{
    text-decoration: none;
}

img{
    text-decoration: none;
}

body{
    background-image: url("fond d'ecran.png");
}

.conteneur_1{
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 200px;

}
.boutons{
    background-color: #cecece;
    color: #306978;
    border-color: #cecece;

}
.icones{
    height: 16px;
    width: 16px;
    fill: #306978;
}


